#list {
  width: $hundred-percent;
  margin: 0px;
  padding-top: 20px;

  background: inherit;

  position: absolute;
  bottom: 50px;
  top: 0px;

  p {
    padding: 0px;
    margin: 0px;
  }

  #empty {
    background-color: inherit;
    font-family: inherit;
    color: $color;

    text-align: center;

    padding: 5px;
    margin: 5em auto;

    font-size: $login-input-font-size;
  }
}
