#list {
  width: $hundred-percent;
  margin: 0px;
  padding: 20px 0px;

  height: 85%;

  background-color: inherit;

  position: absolute;
  bottom: 80px;
  top: 0px;

  overflow-y: auto;

  #empty {
    background-color: inherit;
    font-family: inherit;
    color: $off-white-color;

    text-align: center;

    padding: 5px;
    margin: 5em auto;

    font-size: $login-input-font-size;
  }
}
