#main {
  width: 100%;
  height: 100%;

  padding: 0px;
  margin: 0px;

  background-color: $background-color-1;

  position: relative;

  display: inline-block;

  //tablets - small devices only
  @media (min-width: 768px) {
    width: 75%;
  }

  // desktops and above - medium and large devices
  @media (min-width: 992px) {
    //width: 80%;
  }
}
