.message {
  width: $hundred-percent;
  padding: 10px 30px;
  margin: 0px;

  font-family: $font-family-1;

  background-color: inherit;

  font-size: $room-font-size-1;

  overflow-wrap: break-word;

  p {
    padding: 0px;
    margin: 0px;
  }

  .name {
    font-family: inherit;
    color: $bluish-color;
    font-size: inherit;

    //tablets - small devices only
    @media (min-width: 768px) {
    }

    // desktops and above - medium and large devices
    @media (min-width: 992px) {
    }
  }

  .msg {
    font-family: inherit;
    color: $off-white-color;
    font-size: inherit;

    padding-bottom: 10px;
    margin: 0px;

    border-bottom: 1px solid $invisible-color;

    //tablets - small devices only
    @media (min-width: 768px) {
    }

    // desktops and above - medium and large devices
    @media (min-width: 992px) {
    }
  }
}
