.message {
  width: $hundred-percent;
  margin: 0px;
  padding: 10px 30px;

  background-color: inherit;

  .name {
    font-weight: bold;
    font-family: inherit;
    color: $color;
    font-size: $login-input-font-size;

    padding-right: 15px;

    //tablets - small devices only
    @media (min-width: 768px) {
      font-size: $login-input-font-size-tablet;
    }

    // desktops and above - medium and large devices
    @media (min-width: 992px) {
      font-size: $login-input-font-size-desktop;
    }
  }

  .msg {
    font-family: inherit;
    color: $color;
    font-size: $login-input-font-size;

    //tablets - small devices only
    @media (min-width: 768px) {
      font-size: $login-input-font-size-tablet;
    }

    // desktops and above - medium and large devices
    @media (min-width: 992px) {
      font-size: $login-input-font-size-desktop;
    }
  }
}
