#mobileMenu {
  height: 10%;
  width: 100%;

  padding: 0px;
  margin: 0px;

  #slidingMenu {
    height: 100%;
    width: 300px;

    display: none;

    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    bottom: 0;

    background-color: #2f3136;

    overflow-x: hidden;
    transition: 0.3s ease;

    text-align: center;
  }
}
