#room {
  height: 100%;
  width: 100%;

  margin: 0px;
  padding: 0px;

  #sidebar {
    height: 100%;
    //min-width: 280px;
    width: 25%;

    background-color: rgb(61, 68, 64);

    padding: 15px;
    margin: 0px;

    display: inline-block;

    overflow: hidden;

    //tablets - small devices only
    @media (min-width: 768px) {

    }
  }

  #main {
    width: 100%;
    height: 90%;

    padding: 0px;
    margin: 0px;

    position: relative;

    display: inline-block;

    //tablets - small devices only
    @media (min-width: 768px) {
      width: 75%;
      height: 100%;
    }
  }
}
