#room {
  height: 100%;
  width: 100%;

  margin: 0px;
  padding: 0px;

  #sidebar {
    height: 100%;
    width: 20%;

    min-width: 300px;

    background-color: rgb(61, 68, 64);

    padding: 15px;
    margin: 0px;

    display: inline-block;

    overflow-x: hidden;
    transition: 0.5s;

    //tablets - small devices only
    @media (min-width: 768px) {

    }
  }

  #main {
    width: 80%;
    height: 100%;

    padding: 0px;
    margin: 0px;

    position: relative;

    display: inline-block;

    //tablets - small devices only
    @media (min-width: 768px) {

    }
  }
}
