#sidebar {
  display: none;

  //tablets - small devices only
  @media (min-width: 768px) {
    height: 100%;
    width: 25%;

    background-color: $background-color-2;

    padding: 80px 0px;
    margin: 0px;
    border-right: 1px solid $invisible-color;

    display: inline-block;

    overflow: hidden;
    overflow-wrap: break-word;
  }

  // desktops and above - medium and large devices
  @media (min-width: 992px) {
    //width: 20%;
  }
}
