#slidingMenu {
  height: 100%;
  width: 300px;

  display: none;

  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  bottom: 0;

  background-color: #2f3136;

  overflow-x: hidden;
  transition: 0.3s ease;

  overflow-wrap: break-word;

  text-align: center;

  box-shadow: 2px 0px 10px 2px rgb(29, 31, 35);

  #closeIcon {
    position: absolute;
    top: 20px;
    right: 30px;

    color: white;
    font-size: $room-font-size-2;
  }
}
