#start {
  height: 100%;
  width: $hundred-percent;
  margin: 0px;

  display: flex;
  flex-direction: column;

  #header {
    width: $hundred-percent;
    margin: 0px 0px 40px;
    padding: 50px 0px 0px;
    text-align: center;

    font-family: $font-family;
    font-size: $header-font-size;

    p {
      margin: 0px;
      padding: 0px;
    }
  }

  #form {
    width: $hundred-percent;
    margin: 0px;
    padding: 0px 25px;
    font-family: $font-family;

    flex-grow: 1;

    input {
      font-family: inherit;
      background-color: inherit;
      width: $hundred-percent;
      height: 40px;
      font-size: 20px;

      padding: 10px 0px;
      margin: 15px 0px;

      border: 0px;
      border-bottom: 2px solid cadetBlue;
      outline: none;
    }

    button {
      background-color: teal;
      color: white;

      font-size: 20px;
      font-family: inherit;
      width: $hundred-percent;

      padding: 10px;
      margin: 10px 0px;

      border: 0px;
      outline: none;
    }
  }
}
