#Message {
  background-color: inherit;
  box-shadow: none;
  border: none !important;

  p {
    color: whitesmoke;
  }

  #name {
    font-size: 1em;
    font-weight: bold;
    font-family: $family-secondary;
    color: #f7b668;
    margin: 0;
  }

  #message {
    font-size: 1.1em;
    font-family: $family-secondary;
  }
}