#Message {
  background-color: inherit;
  box-shadow: none;
  border: none !important;

  p {
    color: whitesmoke;
  }

  #name {
    font-size: 1.3em;
    font-weight: bold;
    font-family: $family-secondary;
    margin: 0;
    text-transform: capitalize;
  }

  #message {
    font-size: 1.3em;
    font-family: $family-secondary;
  }
}