#MessageInput {
    position: absolute;
    bottom: 0;

    .field {
        width: 70%;
        margin: 0 auto;

        #input-control {
            width: 90% !important;

            input {
                font-family: $family-secondary;
                color: black;
                background-color: seashell;
            }
        }

        #button-control {
            width: 10% !important;
        }
    }
}