$font-family-1: 'Cabin', sans-serif;

$hundred-percent: 100%;

$background-color-1: #36393e;
$background-color-2: #2f3136;
$background-color-3: #31343a;

$bluish-color: rgb(164, 193, 198);
$off-white-color: #e1e9ec;
$darker-color: #2a91a2;
$invisible-color: #3c4448;

// header
$header-font-size: 40px;
$header-font-size-tablet: 50px;
$header-font-size-desktop: 50px;

$header-padding: 50px 0px 40px;
$header-padding-tablet: 60px 0px 40px;
$header-padding-desktop: 70px 0px 40px;

// login form
$login-form-width: 90%;
$login-form-width-tablet: 50%;
$login-form-width-desktop: 40%;

$login-form-margin: 0px auto;
$login-form-margin-tablet: 0px auto;
$login-form-margin-desktop: 0px auto;

$login-input-font-size: 22px;
$login-input-font-size-tablet: 24px;
$login-input-font-size-desktop: 23px;

$login-button-font-size: 22px;
$login-button-font-size-tablet: 24px;
$login-button-font-size-desktop: 23px;

// room
$room-font-size-1: 18px;
$room-font-size-2: $room-font-size-1 + 2;
