#Sidebar {
    height: 90%;
    padding: 1em 0em;

    overflow-y: auto;

    p {
        color: $color-1;
    }

    li a {
        color: whitesmoke;
        font-size: 1.4em;
        text-transform: capitalize;

        &:hover {
            color: $color-1;
            background-color: inherit;
        }

        &.is-active {
            background-color: $color-3;
        }
    }
}