$family-primary: 'Open Sans', sans-serif;
$family-secondary: 'Ubuntu', sans-serif;

$background-color-1: #36393e;
$background-color-2: #2f3133;

$color-1: #72cae8;
$color-2: steelblue;
$color-3: rgb(90, 89, 89);
